main {
  border: 1px solid red;
}

nav {
  display: flex;
  gap: 15px;
  padding: 15px;
  background: #3a3a3a;
}

nav a {
  color: #aaa;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}
nav a:hover {
  color: white;
  background: rgba(0, 0, 0, 0.4);
}
nav a.active {
  color: white;
  background: #090909;
}
