#text1 {
    font-size: 26px;
    color: blue;
}

.text {
    color: yellow;
}

.image {
    border: 3px red solid;
    margin-top: 10px;
}
.image:hover {
    border-radius: 30px;
}

.image2{
    border-color: blue;
    /* padding-top: 10px;
    padding-left: 5px; */
    padding: 10px 2px;
    /* padding: 10px 2px 20px 50px; */
}

h2 {
    color:blueviolet;
}

h2.h22 {
    color:red;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px grey solid;
    height: 300px;
}

.container .item{
    background-color: blue;
    color: white;
    padding: 10px;

}