h1 {
    color:blueviolet;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: thistle;
}

h2.h2_1 {
    color: darkorange;
}

h3 {
    display: none;
}

.image {
    /* border-width: 4px;
    border-color: red;
    border-style: solid; */
    border: 4px solid red;
    margin-top: 20px;

    /* padding: 10px; */
    /* padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px; */
    /* padding: 10px 30px; top&bottom right&left */
    /* padding: 10px 20px 30px 40px; top right bottom left */
}

.image:hover {
    border-radius: 30px;
    box-shadow: 5px 5px 5px #333;
}

button:hover {
    background-color: lightblue;
    cursor: pointer;
}

.img2 {
    border-color: blue;
}

#text1{
    color: yellow;
    font-size: 22px;
}


/* Flexbox part */
/* .container{
    background-color: lightgray;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.item {
    background-color: coral;
    padding: 10px;
    font-size: 20px;
    flex: 1 0 auto;
}    
*/


/* Grid part */
.container{
    background-color: lightgray;
    height: 400px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    /* grid-template-rows: 30px auto 30px; */
    gap: 20px;
}

.item {
    background-color: coral;
    padding: 10px;
    font-size: 20px;
}